h1 {
    color: blue;
}
body {
    background-color: #f0f0f0;
    font-family: sans-serif;
}

p {
  color: gray;
  font-size: 18px;
}

.box {
    background-color: lightblue;
    padding: 20px;
    margin: 10px;
}

.box-container {
    display: flex;
    justify-content: center;
    align-iteme: center;
    gap: 20px;
}